<div class="h-screen bg-indigo-900 text-white flex flex-col">
    <div class="p-4">
      <h2 class="text-xl font-bold">Car Service</h2>
    </div>
    <nav class="mt-8 flex-1">
      <ul>
        <li class="p-4 ">
          <a routerLink="/dashboard" routerLinkActive="bg-red">Dashboard</a>
        </li>
        <li class="p-4">
          <a routerLink="/add-new-car" routerLinkActive="bg-red">Add New Car</a>
        </li>
        <li class="p-4 ">
          <a routerLink="/car-list" routerLinkActive="bg-red">Car list</a>
        </li>
        <!-- <li class="p-4 hover:bg-indigo-700">
          <a routerLink="/dashboard" routerLinkActive="bg-indigo-700">Customer</a>
        </li> -->
       
      </ul>
    </nav>
  </div>
  